---
layout: index
title: BME tetelek - index
---

<div class='pure-menu pure-menu-horizontal'>
  <ul class='pure-menu-list'>
    <li class='pure-menu-item'><a href='#computer-engineering' class='pure-menu-link'>computer-engineering</a></li>
    <li class='pure-menu-item'><a href='#electrical-engineering' class='pure-menu-link'>electrical-engineering</a></li>
    <li class='pure-menu-item'><a href='#common' class='pure-menu-link'>common</a></li>
  </ul>
</div>

{% for category in site.data.repositories.categories %}
  <hr>
  <h1 id='{{ category.title }}'>{{ category.title }}</h1>
  <table class='pure-table pure-table-bordered pure-table-striped'>
    <tbody>
    {% for repo in category.repositories %}
      <tr>
          <td>{{ repo.name }}</td>
          <td>{% if repo.website %}<a href='{{ repo.website }}' class='pure-button pure-button-primary'>website</a>{% else %}<a class='pure-button pure-button-disabled' href='#'>No website</a>{% endif %}</td>
          <td><a href='https://github.com/bme-notes/{{ repo.repo }}' class='pure-button pure-button-primary'>repository</a></td>
          <td><span id='data-{{ repo.shortname }}'>loading PDF...</span></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endfor %}

<script src='main.js'></script>
<script>
  {% for category in site.data.repositories.categories %}
    {% for repo in category.repositories %}
      loadRelease("{{ repo.repo }}", "{{ repo.shortname }}");
    {% endfor %}
  {% endfor %}
</script>
