---
layout: index
title: BME-VIK tetelek - index
---

{% for category in site.data.repositories.categories %}
  <h1 id='{{ category.title }}'>{{ category.title }}</h1>
  {% for repo in category.repositories %}
    <div class='pure-g'>
      <div class='pure-u-1-3'><p>{{ repo.name }}</p></div>
      <div class='pure-u-1-3'><p><a href='https://github.com/bme-vik/{{ repo.repo }}'>Repository</a></p></div>
      <div class='pure-u-1-3'><p><span id='data-{{ repo.shortname }}'>Loading PDF...</span></p></div>
    </div>
  {% endfor %}
{% endfor %}

<script src='main.js'></script>
<script>
  {% for category in site.data.repositories.categories %}
    {% for repo in category.repositories %}
      loadRelease("{{ repo.repo }}", "{{ repo.shortname }}");
    {% endfor %}
  {% endfor %}
</script>
